$base-color: #4a4848;
//$base-gradient: 'glossy';
$active-color: #8bc531;
$alert-color: #6ba00c;

$tabs-bar-gradient: 'matte';
$toolbar-gradient: 'glossy';

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

@include icon-font('Pictos', inline-font-files('pictos/pictos-web.woff', woff, 'pictos/pictos-web.ttf', truetype,'pictos/pictos-web.svg', svg));
//@include icon-font('Pictos', inline-font-files('verapicto/verapicto.woff', woff, 'verapicto/verapicto.ttf', truetype,'verapicto/verapicto.svg', svg));
@include icon('user', 'U', 'Pictos');
@include icon('time', 't', 'Pictos');
@include icon('info', 'i', 'Pictos');
@include icon('home', 'H', 'Pictos');

@include icon-font('VeraPictos', inline-font-files('verapicto/verapicto.woff', woff, 'verapicto/verapicto.ttf', truetype,'verapicto/verapicto.svg', svg));
@include icon('tab1', 'a', 'VeraPictos');
@include icon('tab2', 'b', 'VeraPictos');
@include icon('tab3', 'c', 'VeraPictos');
@include icon('tab4', 'd', 'VeraPictos');
//@include icon('tab5', 'e', 'VeraPictos');
//@include icon('tab6', 'f', 'VeraPictos');
//@include icon('tab7', 'g', 'VeraPictos');
//@include icon('tab8', 'h', 'VeraPictos');


@include sencha-button-ui('decline', #bc3314, 'matte');

.bg {
	.x-body {
		background-color: rgba(43,45,44, 0.2);
	}
}

.x-list-header {
	background-image: -webkit-linear-gradient(top, #ccff7c, #c3f171 3%, #a7ca72) !important;
	text-shadow: none !important;
	border-top: 1px solid #c3f171 !important;
	border-bottom: 1px solid #85ad43 !important;
}