$base-color: #4a4848;
//$base-gradient: 'glossy';
$active-color: #8bc531;
$alert-color: #6ba00c;

$tabs-bar-gradient: 'matte';
$toolbar-gradient: 'glossy';

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

//@include icon-font('Pictos', inline-font-files('pictos/pictos-web.woff', woff, 'pictos/pictos-web.ttf', truetype,'pictos/pictos-web.svg', svg));
//@include icon('user', 'U', 'Pictos');
//@include icon('time', 't', 'Pictos');
//@include icon('info', 'i', 'Pictos');
//@include icon('home', 'H', 'Pictos');
//@include icon('more', '.', 'Pictos');
//@include icon('add', '&', 'Pictos');
//@include icon('locate', '@', 'Pictos');
//@include icon('refresh', '1', 'Pictos');
//@include icon('trash', '#', 'Pictos');

@include icon('user', '=');
@include icon('time', '|');
@include icon('info', ')');
@include icon('home', '(');
//@include icon('more', '.');
//@include icon('add', '&');
//@include icon('locate', '@');
//@include icon('refresh', '1');
//@include icon('trash', '#');

@include icon('a', 'a');
@include icon('b', 'b');
@include icon('c', 'c');
@include icon('d', 'd');
@include icon('e', 'e');
@include icon('f', 'f');
@include icon('g', 'g');
@include icon('h', 'h');
@include icon('i', 'i');
@include icon('j', 'j');
@include icon('k', 'k');
@include icon('m', 'm');
@include icon('n', 'n');
@include icon('o', 'o');
@include icon('p', 'p');
@include icon('q', 'q');
@include icon('r', 'r');
@include icon('s', 's');
@include icon('t', 't');
@include icon('u', 'u');
@include icon('v', 'v');
@include icon('w', 'w');
@include icon('x', 'x');
@include icon('y', 'y');
@include icon('z', 'z');
@include icon('A', 'A');
@include icon('B', 'B');
@include icon('C', 'C');
@include icon('D', 'D');
@include icon('E', 'E');
@include icon('F', 'F');
@include icon('G', 'G');
@include icon('H', 'H');
@include icon('I', 'I');
@include icon('J', 'J');
@include icon('K', 'K');
@include icon('L', 'L');
@include icon('M', 'M');
@include icon('N', 'N');
@include icon('O', 'O');
@include icon('P', 'P');
@include icon('Q', 'Q');
@include icon('R', 'R');
@include icon('S', 'S');
@include icon('T', 'T');
@include icon('U', 'U');
@include icon('V', 'V');
@include icon('W', 'W');
@include icon('X', 'X');
@include icon('Y', 'Y');
@include icon('Z', 'Z');

@include sencha-button-ui('decline', #bc3314, 'matte');

.bg {
	.x-body {
		background-color: rgba(43,45,44, 0.2);
	}
}

.x-list-header {
	background-image: -webkit-linear-gradient(top, #ccff7c, #c3f171 3%, #a7ca72) !important;
	text-shadow: none !important;
	border-top: 1px solid #c3f171 !important;
	border-bottom: 1px solid #85ad43 !important;
}